.search-result-ctx {
  //position: absolute;
  padding-top: 265px;
  width: 100%;
  height: 100%;
  //top: 0;
  //left: 0;

  .search-result-top {
    position: fixed;
    padding-top: 40px;
    width: 100%;
    height: 265px;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 1;

    .search-result-left {
      margin-right: 65px;
      width: 33px;
      height: 63px;
      font-size: 48px;
    }

    .search-result-input {
      padding-left: 38px;
      width: 81.48%;
      height: 99px;
      background: #f5f5f5;
      border-radius: 55px;
      color: #000;
      font-size: 44px;
      line-height: 99px;
    }

    .search-result-scroll-ctx {
      margin-top: 14px;
      width: 100%;
      height: 110px;

      .scroll-tab-nowrap {
        display: flex;
        flex-direction: row;
      }

      .scroll-tab-item {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 0 30px;
        width: (100 / 6) * 1%;
        height: 100%;
        color: #606061;
        font-size: 42px;

        &::before {
          position: absolute;
          content: "";
          width: 60%;
          height: 18px;
          background: transparent;
          border-radius: 18px;
          left: 20%;
          bottom: 27%;
        }
      }

      .active {
        color: #000;
        font-weight: bold;

        &::before {
          background: linear-gradient(to right, #eb4e46, #ee7c78);
          z-index: -1;
        }
      }
    }
  }

  .search-result-content {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .search-result-content-item {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-bottom: 210px;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    /* 综合 */
    .composite-div {
      padding: 0 28px;
      background: #f4f4f4;

      .search-result-list {
        margin-top: 28px;
      }
    }

    .result-loading-ctx {
      height: 80px;
      text-align: center;
      font-size: 36px;
      line-height: 80px;
    }

    .search-result-list {
      padding: 0 44px;
      width: 100%;
      background: #fff;
      border-radius: 45px;

      .search-result-list-top {
        height: 135px;
        border-bottom: 3px solid #ebebeb;
        color: #000;
        font-size: 50px;
        font-weight: bold;
      }

      .right-play-icon {
        width: 60px;
        height: 60px;
        background: #eb4d44;
        border-radius: 50%;

        path {
          fill: #f4f4f4;
        }
      }

      .search-result-list-item {
        position: relative;
        height: 165px;
        border-bottom: 3px solid #eee;

        &.disabled-list-item {
          opacity: .4;
        }
      }

      .search-result-list-item-left {
        position: relative;
        width: 80%;
        color: #6e6e6f;
        font-size: 36px;
        line-height: 36px;
      }

      .search-result-list-item-title {
        color: #5275a7;
        font-size: 44px;
        line-height: 44px;

        &.active {
          color: #ff3a39;
        }
      }

      .search-result-list-item-author {
        margin-top: 8px;
        padding-top: 5px;
        line-height: 36px;
      }

      .search-result-vip-tag, .search-result-sq-tag {
        position: relative;
        display: inline-flex;
        margin-right: 8px;
        padding: 0 8px;
        height: 30px;
        top: -5px;
        border: 3px solid;
        border-color: #e86c4d;
        border-radius: 10px;
        color: #e86c4d;
        font-size: 18px;
        line-height: 30px;
      }

      .search-result-sq-tag {
        border-color: #ea443b;
        color: #ea443b;
      }

      .search-result-list-bottom {
        height: 110px;
        color: #8d8d8d;
        font-size: 36px;
        text-align: center;
        line-height: 110px;
      }

      .abs-right-icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        right: 60px;
        transform: translateY(-50%);
      }
    }

    .search-song-list {
      margin-top: 28px;
      padding: 0 44px;
      width: 100%;
      background: #fff;
      border-radius: 45px;

      .search-song-list-top {
        height: 135px;
        color: #000;
        font-size: 50px;
        font-weight: bold;
      }

      .search-song-list-item {
        position: relative;
        justify-content: space-around;
        flex-direction: column;
        display: flex;
        margin-top: 26px;
        padding: 5px 0;
        padding-left: 165px;
        width: 100%;
        height: 140px;
        color: #000;
        font-size: 46px;
        line-height: 1;

        .search-song-left-img {
          position: absolute;
          width: 140px;
          height: 140px;
          top: 0;
          left: 0;
          background: #ddd;
          border-radius: 25px;
          font-size: 0;
        }

        .search-song-left-author {
          margin-top: 8px;
          color: #858586;
          font-size: 32px;
          line-height: 36px;
          -webkit-line-clamp: 2;
        }
      }

      .search-song-list-bottom {
        height: 110px;
        color: #8d8d8d;
        font-size: 36px;
        text-align: center;
        line-height: 110px;
      }
    }

    /* 单曲 */
    .search-result-list-single {
      padding: 0;
    }

    /* 默认 */
    .default {
      padding-top: 100px;
      font-weight: bold;
    }
  }
}
