.animated-router {
  /** START: 自定义进出场动画 **/
  /** END **/
}

.animated-router-container {
  /* 动画容器节点 */
  height: 100%;
}

.animated-router-in-transition {
  /* 页面动画中 */
  position: relative;
  width: 100%;
  overflow: hidden;
}

.animated-router {
  &-forward{
    &-enter {
      transform: translate(100%);
    }
    &-enter-active {
      transform: translate(0);
    }
    &-exit {
      transform: translate(0);
    }
    &-exit-active {
      transform: translate(-100%);
    }
  }

  &-backward {
    &-enter {
      transform: translate(-100%);
    }
    &-enter-active {
      transform: translate(0);
    }
    &-exit {
      transform: translate(0);
    }
    &-exit-active {
      transform: translate(100%);
    }
  }

  &-forward-enter-active, &-forward-exit-active, &-backward-enter-active, &-backward-exit-active {
    /* 不同过渡阶段需要的过渡时间与缓动效果 */
    transition: transform 0.3s linear;
  }

  &-forward-exit, &-backward-exit {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.animated-router-form-bottom {
  &-forward{
    &-enter {
      transform: translateY(100%);
    }
    &-enter-active {
      transform: translateY(0%);
    }
    &-exit {
      opacity: 0.3;
    }
    &-exit-active {
      opacity: 0;
    }
  }

  &-backward {
    &-enter {
      opacity: 0.3;
    }
    &-enter-active {
      opacity: 1;
    }
    &-exit {
      transform: translateY(0);
      opacity: 1;
    }
    &-exit-active {
      transform: translateY(100%);
      opacity: .5;
    }
  }

  &-forward-enter-active, &-forward-exit-active, &-backward-enter-active, &-backward-exit-active {
    /* 不同过渡阶段需要的过渡时间与缓动效果 */
    transition: all 0.3s linear;
  }

  &-forward-exit, &-backward-exit {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
  }
}

/**
 * 右侧淡入，右侧淡出
 */
.forward-from-right {

  &-enter {
    z-index: 2;
    opacity: 0;
    transform: translateX(100%);
  }

  &-enter-active {
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
  }

  &-exit {
    z-index: 1;
    opacity: 1;
  }

  &-exit-active {
    z-index: 1;
    opacity: .3;
    transition: all 500ms;
  }
}


.back-to-right {
  &-enter {
    z-index: 1;
    opacity: .3;
  }

  &-enter-active {
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
  }

  &-exit {
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
  }

  &-exit-active {
    z-index: 2;
    opacity: 0;
    transform: translate(100%);
    transition: all 500ms;
  }
}

/**
 * 下方淡入，下方淡出
 */
.forward-from-bottom {
  &-enter {
    z-index: 2;
    opacity: 0;
    transform: translateY(100%);
  }

  &-enter-active {
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms;
  }

  &-exit {
    z-index: 1;
    opacity: 1;
  }

  &-exit-active {
    z-index: 1;
    opacity: .3;
    transition: all 500ms;
  }
}

.back-to-bottom {
  &-enter {
    z-index: 1;
    opacity: .3;
  }

  &-enter-active {
    z-index: 1;
    opacity: 1;
    transition: all 500ms;
  }

  &-exit {
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
  }

  &-exit-active {
    z-index: 2;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms;
  }
}

.alert {
  &-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  &-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
}

.forward-from-left {

  &-enter {
    z-index: 2;
    opacity: 0;
    transform: translateX(-100%);
  }

  &-enter-active {
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
  }

  &-exit {
    z-index: 1;
    opacity: 1;
  }

  &-exit-active {
    z-index: 1;
    opacity: .3;
    transition: all 500ms;
  }
}

.from-bottom-to-top {
  &-enter {
    z-index: 2;
    opacity: 0;
    transform: translateY(100%);
  }

  &-enter-active {
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms;
  }

  &-exit {
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
  }

  &-exit-active {
    z-index: 2;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms;
  }
}
