.play-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //background: #161824;

  .play-ctx-header-block {
    height: 155px;
  }

  .play-ctx-footer-block {
    height: 560px;
  }

  .play-ctx-header {
    position: fixed;
    padding: 28px 55px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 155px;
    top: 0;
    left: 0;
    background: transparent;
    color: #fff;
    font-size: 0;
    z-index: 1;

    .play-header-l {
      width: 46px;
      height: 67px;
      font-size: 10px;
    }

    .play-header-t {
      width: 55%;
      text-align: center;
      font-size: 36px;
      line-height: 1;

      .play-header-title {
        margin-bottom: 15px;
        font-size: 48px;
      }
    }

    .play-header-r {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      font-size: 0;
    }
  }

  .play-ctx-content {
    position: relative;
    flex: 1;
    //flex-grow: 1;
    overflow: hidden;

    //#playListSwiper, .swiper-wrapper, .swiper-slide {
    //  width: 100%;
    //  height: 100%;
    //}

    .play-rotate-round {
      margin: 0 auto;
      //padding-bottom: 67%; /* 设置成正方形 */
      width: 67%;
      height: 0;
      //background: linear-gradient(red, blue);
      border-radius: 50%;
      font-size: 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        font-size: 0;
      }
    }

    .play-run {
      -webkit-animation: spin 30s infinite linear;
    }
  }

  .play-ctx-footer {
    position: fixed;
    padding-bottom: 100px;
    width: 100%;
    height: 560px;
    left: 0;
    bottom: 0;
    background: transparent;
    z-index: 1;

    .play-music-info-btn {
      padding: 0 84px;

      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        font-size: 20px;
        border-radius: 50%;
      }
    }

    .play-music-control {
      margin-top: 65px;
      padding: 0 80px;
      color: #fff;
      font-size: 32px;
      text-align: center;

      span {
        display: inline-flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
      }

      .play-pause-btn {
        width: 175px;
        height: 175px;
      }
    }
  }

  .play-bg-blur {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #161824;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    filter: blur(30px);
    transform: scale(1.5);
    transform-origin: center center;
    opacity: 1;
    overflow: hidden;
    z-index: -1;

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 15px #fff;
  }
  25% {
    transform: rotate(90deg);
    box-shadow: 0 0 30px #fff;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 45px #fff;
  }
  75% {
    transform: rotate(270deg);
    box-shadow: 0 0 30px #fff;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 15px #fff;
  }
}
