.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 5;

  .login-top {
    padding: 0 44px;
    width: 100%;
    height: 100px;
    font-size: 44px;
    font-weight: bold;
  }

  .input-login-ctx {
    padding: 50px 50px 0;
    color: #000;
    font-size: 30px;
    font-weight: bold;

    .input-login-div {
      position: relative;
      margin-top: 20px;
      width: 100%;
      height: 120px;
      border-bottom: 3px solid #e6e6e6;

      input {
        padding-left: 20px;
        width: 100%;
        height: 100%;
        background: transparent;
        border: 0;
        font-size: 48px;
      }
    }

    .input-login-btn {
      margin-top: 80px;
      width: 100%;
      height: 128px;
      background: #f6cdc8;
      border-radius: 80px;
      color: #f8d7d3;
      font-size: 42px;
      text-align: center;
      line-height: 128px;

      &.active {
        background: #fe5546;
        color: #fff;
      }
    }
  }
}
